
# Large video files
uploads/Notational_Animating_project_page/static/videos/CHI26_video_final_with_name.mov
uploads/Notational_Animating_project_page/static/videos/full_video.mov
# Ignore large mov files
**/*.mov
